.order {
    position: sticky;
    right: 0;
    top: 150px;
    align-self: baseline;
    background-color: #232526;
    padding: 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;

    .orderInfo {
        display: flex;
        flex-direction: column;
        gap: 10px;
        @media (max-width: 700px) {
        }
    }

    @media (max-width: 700px) {
        position: fixed;
        left: 0;
        right: 0;
        top: auto;
        bottom: 0;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        border-radius: 0;
    }

    .orderName {
        font-weight: 700;
    }

    .orderBtn {
        background-color: var(--primary-color);
        padding: 10px 15px;
        margin-top: 10px;
        border-radius: 20px;
        color: white;
        text-decoration: none;

        &.disable {
            opacity: 0.5;
            pointer-events: none;
        }

        @media (max-width: 700px) {
            margin: 0 0 0px auto;
        }
    }
}
